@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Nunito+Sans:wght@200&display=swap');
*{
    margin:0;
    padding: 0px;
    font-family: 'Nunito', sans-serif;
}



.cont3{
    width: 80%;
    margin: 0 auto;
    background-color: rgba(221, 221, 207, 0.258);
    display: flex;
    justify-content: space-around;
    position: relative;
}

.userInfo{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(179, 176, 176, 0.552);
    font-size: 24px;
}

.modeleWProfile,.modelWPost{
    display: none;
    position: absolute;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.364);
    height: 100%;
}


.modeleWProfile form,.modelWPost form{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 10%;
    margin: 0 auto;
}

.modeleWProfile form input,.modelWPost form input{
    font-size: 25px;
}

.mainInfo{
    display: flex;
    justify-content: space-around;
}

.mainInfo img{
    width: 140px;
    border-radius: 100px;
}


.secondInfo{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


#redactProfile,#createNewPost{
    border: none;
    font-size: 25px;
    border-radius: 8px;
    cursor: pointer;
    background-color: rgba(111, 243, 146, 0.541);
    margin: 10px 0px;
    padding: 3px 6px;
}

#createNewPost{background-color: rgba(239, 104, 46, 0.627);}

.postSide{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.createPost{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.createPost p{
    font-size: 25px;
}

.posts{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.post{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}


.active{
    display: block;
}



.secondInfo div,.last-first-name div{display: flex;justify-content: space-around;}

.last-first-name{
    display: flex;
    flex-direction: column;
}